#map {
    width: 600px;
    height: 600px;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }

 .modal {
   height: 100px;
   width: 250px;
   border: 1px blue solid;
   border-top-right-radius: 4px;
   color: rgb(4, 59, 59);
   margin: 0 auto;
   background-color: rgb(194, 237, 238);
 }

 h4 {
    font-size: 30px;
    color: firebrick;
 }